<%- include("partials/header1.ejs") %>       
    </div>
        <div class="container main-content">
            <h3>Ingredient: <%= content.strIngredient %></h3>
            <br/>
            <div class="category">
                <h4>Type: <%= content.strType %></h4> 
                <h4>Alcohol: <%= content.strAlcohol %></h4>
                <h4> </h4>
            </div>
            <h4>Description: </h4>
            <p><%=content.strDescription %></p>
            <br/>
        </div>
<%- include("partials/footer.ejs") %>